{% extends 'base.html' %}
{% load form_tags widget_tweaks %}

{% block title %}mypage{% endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'account_mypage' %}">我的主頁</a></li>
<li class="breadcrumb-item"><a href="{% url 'account_mybooks' %}">我的書本</a></li>
<li class="breadcrumb-item"><a href="{% url 'account_mytargetbooks' %}">徵求書本</a></li>
{% endblock %}

{% block content %}
<h1 align="center">與 {{ to_user.username }} 的交換</h1>

{% if can_post%}
<div class="card mb-4">
  <div class="card-header text-white bg-dark py-2 px-3">我要提出的交換</div>
    <div class="card-body p-3">
        <form method="post" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">提出交換</button>
        </form>
    </div>
  </div>
</div>
{% else %}
<br/>
<h3 align="center" style="color:red">您對 {{ to_user.username }} 所提出的請求數量已經超出系統規定的最大請求數量 {{ max_exchange_amount}}</h3>
<h3 align="center" style="color:red">請刪除一些請求</h3>
{% endif %}

<br/>
<center><a href="{% url 'post_exchange' to_user.username %}" class="btn btn-primary">返回</a></center>
{% endblock %}