{% extends 'base.html' %}
{% load form_tags widget_tweaks %}

{% block title %}mypage{% endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'account_mypage' %}">我的主頁</a></li>
<li class="breadcrumb-item"><a href="{% url 'account_mybooks' %}">我的書本</a></li>
<li class="breadcrumb-item"><a href="{% url 'account_mytargetbooks' %}">徵求書本</a></li>
{% endblock %}

{% block content %}
<h1 align="center">與 {{ to_user.username }} 的交換</h1>
<br/>
<center><a href="{% url 'post_exchange_form' to_user.username %}" class="btn btn-primary">提出交換</a></center>
<br/>

<!-- message -->
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <center>{{ message }}</center>
  </div>
{% empty %}
{% endfor %}

<!---->
<div class="container">
  <div class="row justify-content-md-center">
    <!--Card-->
    <div class="card mb-3 book_item" style="width: 100rem;">
      <!--Card Header-->
      <div class="card-header" style="background-color: #708090; border-color: #708090;">
          <span style="font-weight:bold; font-size:30px;"><strong>您對 {{ to_user.username }} 的交換請求</strong>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Text-->
        <p class="card-text">

        <!-- accept exchanges -->
        {% for exchange in user_exchanges %}
        <p>
        <ul class="list-group">
            <strong>
                {% if exchange.is_agree %}
                <li class="list-group-item list-group-item-success">已被 {{ to_user.username }} 接受</li>
                {% elif exchange.is_waiting %}
                <li class="list-group-item list-group-item-info">已提交給 {{ to_user.username }} 但尚未接受</li>
                {% elif exchange.is_reject %}
                <li class="list-group-item list-group-item-danger">已被 {{ to_user.username }} 拒絕</li>
                {% elif exchange.is_target_book_delete %}
                <li class="list-group-item list-group-item-danger">{{ to_user.username }} 移除了某些書，因此交換取消</li>
                {% endif %}
            </strong>
            <li class="list-group-item">
                您想用 
                {% for book in exchange.from_item.all %}
                <button href="#" class="btn btn-default"><strong>
                    {{ book.title }}
                </strong></button>
                {% endfor %}
                <br/>
                <strong><font color="#A500CC">交換</font>
                {{ to_user.username }}</strong> 的
                {% for book in exchange.to_item.all %}
                <button href="#" class="btn btn-default"><strong>
                    {{ book.title }}
                </strong></button>
                {% endfor %}
            </li>
            <li class="list-group-item"> 
                {% if exchange.is_confirm or exchange.is_target_double_confirm %}
                <button href="#" class="btn btn-primary">已完成交換，不再顯示</button>
                <button href="#" class="btn btn-danger">交換失敗，解除交換</button>
                {% elif exchange.is_waiting %}
                <form method="post" action="{% url 'regret_exchange' to_user.username exchange.pk %}">
                    {% csrf_token %}
                    <button href="#" class="btn btn-danger">反悔</button>
                </form>
                {% elif exchange.is_reject %}
                <button href="#" class="btn btn-primary">我知道了，不再顯示</button>
                {% elif exchange.is_target_book_delete %}
                <button href="#" class="btn btn-primary">我知道了，不再顯示</button>
                {% endif %}
            </li>
        </ul>
        </p>
        {% empty %}
        <h3 align="center">尚未提出任何交換請求</h3>
        {% endfor %}
        </p>
        
      </div>
    </div>
    <!--/.Card-->
  </div>
</div>

<!---->
<div class="container">
  <div class="row justify-content-md-center">
    <!--Card-->
    <div class="card mb-3 book_item" style="width: 100rem;">
      <!--Card Header-->
      <div class="card-header" style="background-color: #708090; border-color: #708090;">
          <span style="font-weight:bold; font-size:30px;"><strong>{{ to_user.username }} 對您的交換請求</strong>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Text-->
        <p class="card-text">

        <!-- accept exchanges -->
        {% for exchange in from_other_exchanges %}
        <p>
        <ul class="list-group">
            <strong>
                {% if exchange.is_agree %}
                <li class="list-group-item list-group-item-success">您已經接受的請求</li>
                {% elif exchange.is_waiting %}
                <li class="list-group-item list-group-item-info"> 您尚未處理的請求</li>
                {% elif exchange.is_regret %}
                <li class="list-group-item list-group-item-danger">{{ to_user.username }} 反悔的請求</li>
                {% elif exchange.is_source_book_delete %}
                <li class="list-group-item list-group-item-danger">{{ to_user.username }} 移除了某些書，因此交換取消</li>
                {% endif %}
            </strong>
            <li class="list-group-item">
                {{ to_user.username }} 想用 
                {% for book in exchange.from_item.all %}
                <button href="#" class="btn btn-default"><strong>
                    {{ book.title }}
                </strong></button>
                {% endfor %}
                <br/>
                <strong><font color="#A500CC">交換</font>
                您的</strong> 
                {% for book in exchange.to_item.all %}
                <button href="#" class="btn btn-default"><strong>
                    {{ book.title }}
                </strong></button>
                {% endfor %}
            </li>
            <li class="list-group-item"> 
                {% if exchange.is_confirm or exchange.is_source_double_confirm %}
                <button href="#" class="btn btn-primary">已完成交換，不再顯示</button>
                {% elif exchange.is_waiting %}
                <button href="#" class="btn btn-primary">接受</button>
                <button href="#" class="btn btn-danger">回絕</button>
                {% elif exchange.is_regret %}
                <button href="#" class="btn btn-primary">我知道了，不再顯示</button>
                {% elif exchange.is_source_book_delete %}
                <button href="#" class="btn btn-primary">我知道了，不再顯示</button>
                {% endif %}
            </li>
        </ul>
        </p>
        {% empty %}
        <h3 align="center">尚未提出任何交換請求</h3>
        {% endfor %}
        </p>
        
      </div>
    </div>
    <!--/.Card-->
  </div>
</div>

<!-- accept exchanges -->
{% for exchange in accepted_exchange %}
<ul class="list-group">
  <li class="list-group-item"><h1 align="center">Dapibus ac facilisis in</h1></li>
  <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
  <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
  <li class="list-group-item list-group-item-danger"> 
    <button href="#" class="btn btn-danger btn-delete">刪除</button>
  </li>
</ul>
{% empty %}
{% endfor %}
<!-- my request -->
<!-- others request -->
<!-- others reject-->


{% endblock %}