<h3 align="center"><strong>搜尋結果</strong></h3>
<p>
<table class="table table-striped table-bordered table-responsive">
  {% if book_items.exists %}
  <thead>
    <tr class="table-inverse">
      <th><strong>前往交換</strong></th>
      <th><strong>書名</strong></th>
      <th><strong>作者</strong></th>
      <th><strong>描述</strong></th>
      <th><strong>User</strong></th>
    </tr>
  </thead>
  <tbody>
    {% for items in book_items %}
      <tr>
        <th>
          <a href="{% url 'post_exchange_form' items.owner.username %}" class="btn btn-info">擁有</a>
        </th>
        <th>{{ items.title }}</th>
        <th>{{ items.authors|truncatechars:30}}</th>
        <th>{{ items.description|truncatechars:50}}</th>
        <th>
          <h6>{{ items.owner.username }}
          {% if items.owner.profile.exchange_face %}
            <span class="badge badge-pill badge-primary">
          {% else %}
            <span class="badge badge-pill badge-danger">
          {% endif %}
          {{ items.owner.profile.get_city }}</span></h6>
        </th>
      </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <h5 align="center">目前沒有任何相關資料</h3>
  {% endif %}
</table>
</p>

<br/>
<hr>