{% extends 'base_account.html' %}

{% block title %}Log in to Book Share{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">登入</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">登入</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          還沒有帳號? <a href="{% url 'account_signup' %}">註冊</a>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="#" class="text-muted">忘記密碼?</a>
        </small>
      </div>
    </div>
  </div>
{% endblock %}