{% extends 'base.html' %}
{% load static %}

{% block title %}mypage{% endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'account_mypage' %}">我的主頁</a></li>
<li class="breadcrumb-item active">我的書本</li>
{% endblock %}

{% block content %}
<div class="card mb-4">
  <div class="card-header text-white bg-dark py-2 px-3">新增</div>
    <div class="card-body p-3">
      <form method="post" class="mb-4" id="create_book_form">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">新增書籍</button>
      </form>
    </div>
  </div>
</div>

<h1 align="center">我的書櫃</h1>

<div class="container">
  <div class="row justify-content-md-center">
  {% for book in books %}
    <!--Card-->
    <div class="card mb-3 book_item" style="width: 100rem;">
      <!--Card Header-->
      <div class="card-header">
          <span style="font-weight:bold; font-size:30px;">{{ book.title }}</span>  by {{ book.authors }}
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
      
        <!--Text-->
        <p class="card-text">{{ book.description }}</p>
        <button href="#" class="btn btn-primary">修改</button>
        <button href="{% url 'bookitem_delete' book.pk %}" class="btn btn-danger btn-delete">刪除</button>
      </div>
    </div>
    <!--/.Card-->
  {% endfor %}
  </div>
</div>
</div>

<!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/mybooks.js' %}"></script>
{% endblock %}